.img2 {
	background-image:
		url("https://images.unsplash.com/photo-1464618663641-bbdd760ae84a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60");
	/*height: 500px;*/
	background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    height: 100vh;
}

/*https://images.unsplash.com/photo-1504722754074-60e9f87d2817?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60*/
